$colors: (pink #ffc0cb) (green #b7e693 );
@each $color-combo in $colors{
    $color: nth($color-combo, 1);
    $hex: nth($color-combo, 2);

  .#{$color}-raw-highlight {
    position: relative;
    &:before {
      content: '';
      background-color: $hex;
      position: absolute;
      top: 50%;
      left: 0;
      height: 6px;
      margin-top: -3px;
      width: 100%;
      z-index: -1;
    }
  }
}
