<section id="story" class="minimal"></section>
<section id="intro" class="minimal" style="display: none;">
  <h2>Game Title</h2>
    <p><strong>Game Title</strong> is a text-based game, which adds complexity to a suspense story by removing some of the words. Your challenge is to work your way through chapters of word puzzles in order to continue reading, and eventually complete, the story.</p>
    <h3>How It Works</h3>
    <ul>
      <li>Puzzles are blacked out in the text.</li>
      <li>You get 50 points for every puzzle you correctly solve. Points are tracked at the top right of the page.</li>
      <li>You have four hints. Everytime you press the "Hint" or "Answer" buttons, you are deducted a hint.
      Hints will cost you 50 points, and answers will cost 150 points.</li>
      <li>Correct guesses are highlighted in <span class="green-raw-highlight">green</span>, and given answers are highlighted in <span class="pink-raw-highlight">red</span>.</li>
      <li>Your entire game progress is saved automatically, so feel free to play this game over time.</li>
      <li>When you're ready to begin, press the button at the top left of the page.</li>
    </ul>
</section>
<section id="complete" class="minimal delay-fade" style="display: none;">
  <h2>You Win.</h2>
  <p class="final-points">Final Score: <span></span></p>
</section>
