<p>This is the first chapter in the story. Lets see if this works well or not. Try to guess this


{{#if riddle}}
  <span class="solved">{{riddle}}</span>
{{else}}
  <input type="text" class="riddle">
{{/if}}

</p>
