<div class="header">
  <div id="points">Points: <span>{{points}}</span></div>
  {{#if newGame}}
  <button id="start">Start the Game</button>
  {{else}}
  <button id="answer">Answer</button>
  {{/if}}
</div>
