// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$colors: (red, pink, blue, orange, green);
@each $color in $colors{
  .#{$color}-raw-highlight {
    position: relative;
    &:before {
      content: '';
      background: $color;
      position: absolute;
      top: 50%;
      left: 0;
      height: 6px;
      margin-top: -3px;
      width: 100%;
      z-index: -1;
    }
  }
}
