.minimal {
  font-family: "Avenir", serif;
  font-size: .9em;
  line-height: 1.65em;
  color: $minimal-main;
  @extend %p-top-25-px;
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    border-bottom: 1px solid #cecece;
    @extend %m-top-50-px;
    @extend %m-bottom-10-px;
    @extend %p-bottom-10-px;
  }
  p {
    margin: 0;
  }
  input {
    background-color: darken($minimal-main, 16%);
    &:focus {
      border-bottom: 1px solid lighten($minimal-main, 18%);
      background-color: white;
      color: $minimal-main;
    }
  }
  button {
    color: $minimal-main;
    background-color: $minimal-second;
    @extend %m-right-5-px;
    @include transition (background-color .25s ease-in-out);
    &:hover {
      background-color: darken($minimal-second, 10%);
      @include transition (background-color .25s ease-in-out);
    }
  }
  header {
    background-color: white;
    @include prefixer(opacity, .9, webkit moz ms o spec);
  }

}
